body {
  
    background-color: #10102a;
    font-family: 'Arial', sans-serif;
    display: block;

    align-items: center;
    height: 100vh;
    color: rgb(7, 7, 7);

    margin: auto;
    width: 100vw;
}


@media screen and (max-width: 300px) {
    body {
     background-color: #4cae4c;
    }
  }

.title_index

{
    width: 400px;
    margin: auto;

}

.title_index
{
    padding: 25px;
}

.form_signup {
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    padding: 5px;
    margin: auto;
}


label 
{
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    background-color: #dfb42a;
    color: rgb(8, 8, 8);
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1
{
    color: #000000 !important;

    font-weight: 900;
    background-color: #ffffffb8;
}


.login-container {

    position: relative;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 900px;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: 50px auto;
    max-width: 100%;
    z-index: 2;
    position: relative;
}

h1 {
    color: #fff;
    
}

.counter
{
    width: 200px;
    margin: auto;
    color: beige;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background-color: #2b2c4a;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #fff;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #1d3557;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #457b9d;
}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.extra-links a:hover {
    color: #fff;
}

.image-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.image-overlay img {
    max-height: 450px;
}



.text_index
{
    backdrop-filter: blur(50px);
    background: rgb(0 0 0 / 49%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 8px 10px #00000030;

}


footer {
       color: white;
       text-align: center;
       padding: 10px 0;
       width: 100%;
       position: static;
       bottom: 0;
       left: 0;
       margin-top: 5px;
}


.footer a
{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}