body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conttainer_signup
{

    background: #c45959;
}


.container 
{

    border: 20px solid black;
   
}

.form_signup {
    display: flex;
    flex-direction: column;
    border: 5px solid red;
}




label 

{
    margin-bottom: 5px;
}
input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}

