body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7c8a98;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #a0aabc;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: #5e6a7d;
}

.logo-large img

{
    border: 5px solid red;
    position: relative;
    fill: red;
    top: 25px;
    max-width: 200px;
    left: 25px;
}





.logo 
{
    border: 5px solid red;
}

.logo img
{
   width: 200px;
}





.logo-face {
    font-size: 3rem;
    margin: 0 5px;
}

.subtitle {
    font-size: 1.2rem;
    color: #5e6a7d;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ad img {
    width: 300px;
    height: auto;
}

.form-container {
    background-color: #a0aabc;
    padding: 20px;
    border-radius: 5px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="radio"] {
    margin-bottom: 10px;
}

.gender {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f5e7b5;
    border: none;
    cursor: pointer;
}

.logo-large {
    text-align: center;
    color: #d5dbe4;
}

.large-face {
    font-size: 8rem;
}

.logo-text {
    font-size: 3rem;
    font-weight: bold;
}

footer {
    background-color: #a0aabc;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #5e6a7d;
}
