@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
body {
	background: #1f1e1d;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
header {
	text-align: center;
	background: #000;
	padding-top: 2rem;
}
header h1 {
	font-size: 5rem;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
}
header h2 {
    color: #ffbbac;
	font-weight: 100;
}
 h3
{
    color: #ffbbac;
}

ul
{
    color: aliceblue;
}

.article-meta {
	color: #fff;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
}
.article-meta p {
	display: inline-block;
}
.section {
	padding: 4rem 2rem;
	background: #000;
}
.container {
	width: 80%;
	margin: auto;
}
.tag {
	color: #ffbbac;
	border-radius: 25px;
	font-size: 13px;
	display: inline-block;
	padding: 3px 14px;
	margin: 4px 0;
}
.flex_div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.fullwidth {
	width: 100%;
}
.half {
	width: 45%;
}
.one_third {
	width: 30%;
}
.one_fourth {
	width: 25%;
}
figure {
	width: 100%;
	margin: 0;
}
img {
	width: 100%;
}
figcaption {
	display: none;
}
.mag_content {
	padding: 20px;
	background: #1f1e1d;
}
.mag_content p {
	color: aliceblue;
	line-height: 26px;
	font-weight: 400;
}
.mag_content h2 {
    color: #ffbbac;
	margin-top: 0;
}
.spacer {
	height: 20px;
}
@media (max-width: 1024px) {
	.one_fourth {
		width: 100%;
	}
	.half {
		width: 100%;
		margin-top: 20px;
	}
}
