@font-face {
    font-family: 'lunaregular';
    src: url('fonts/luna-webfont.woff2') format('woff2'),
         url('fonts/luna-webfont.woff') format('woff'),
         url('fonts/lunaregular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1
{
    color: #000000 !important;

    font-weight: 900;
    background-color: #ffffffb8;
}




body {
  
    background: url('//img/favicon.png');

    background-color: #10102a;
    font-family: 'Arial', sans-serif;
    display: block;
    background-position-x: center;
    background-repeat: no-repeat;


    align-items: center;
    height: 100vh;
    color: aliceblue;

    margin: auto;
    width: 100vw;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.title_index

{
    width: 400px;
    margin: auto;
    padding: 25px;
}


.form_signup {
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    padding: 5px;
    margin: auto;
}


label 
{
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    background-color: #dfb42a;
    color: rgb(8, 8, 8);
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}






.login-container {

    position: relative;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 900px;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: 50px auto;
    max-width: 100%;
    z-index: 2;
    position: relative;
}


.counter
{
    width: 200px;
    margin: auto;
    color: beige;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background-color: #2b2c4a;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #fff;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #1d3557;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #457b9d;
}

.extra-links {
    text-align: center;
    margin-top: 20px;
}

.extra-links a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.extra-links a:hover {
    color: #fff;
}

.image-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.image-overlay img {
    max-height: 450px;
}



.text_index
{
    backdrop-filter: blur(50px);
    margin: 10px;
    background: rgb(0 0 0 / 49%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 8px 10px #00000030;

}


footer {
       text-align: center;
       padding: 10px 0;
       width: 100%;
       position: static;
       bottom: 0;
       left: 0;
       margin-top: 5px;
}


 a
{
    color: aliceblue !important;
    text-decoration: none !important;
    font-weight: 600 !important;
}

/* Style de la fenêtre modale */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; 
    z-index: 1000; /* Toujours au-dessus */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

/* Contenu de la fenêtre modale */
.modal-content {
    background-color: #fff;
    color: black;
    margin: 15% auto; /* 15% du haut, auto des côtés */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

/* Bouton de fermeture de la fenêtre */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
}





.promotion-container {
    background-color: #ffe066;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
}

.promotion-container a {
    text-decoration: none;
    color: black;
}

.promotion-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
}

.promotion-container h3 {
    font-size: 1.5em;
}
